@media (min-width:750px) {
#myButton {
    display: none; /* Oculta el botón hamburguesa en pantallas grandes */
}
/* Mostrar el menú como una barra horizontal */
ul.menuLinks {
    display: flex; /* Alinear elementos en fila */
    flex-direction: row;
    position: static; /* Restablecer posición */
    justify-content: flex-end; /* Alinea el menú al lado derecho */
    gap: 3rem; /* Espaciado entre los enlaces */
    background-color: transparent; /* Sin fondo */
    box-shadow: none; /* Sin sombra */
    padding: 0;
}
/* Enlaces del menú */
ul.menuLinks a {
    color: var(--textColorGray);
    font-weight: normal; /* Sin negrita para un diseño más limpio */
    padding: 1rem;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color 0.2s ease,
 }
 ul.menuLinks a:hover {
    color: var(--primarycolor);
    background-color: rgba(176, 58, 46, 0.1); /* Color rojo con 30% de opacidad */
    border-bottom: 2px solid var(--secondaryColor); /* Línea bajo el enlace */
}
/* Submenú en pantallas grandes */
ul.submenu {
    top:100%; /* Colocarlo debajo del padre */
    right:0;
    background-color:var(--secondaryColor);
}
nav ul.submenu li a {
    padding: 20px;
    white-space: nowrap; /* Evita que se rompa en varias líneas */
}
/* Mostrar submenú al pasar el mouse */
.menuLinks li:hover > ul.submenu {
    display: block; /* Visible al pasar el mouse */
}
/* Asegurar que el padre tenga posición relativa */
.menuLinks li {
    position: relative;
}
.grid h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.list{
    margin: 1.5rem;
}
.main-menu .description, 
#aperitivos .description {
    font-size: 1.3rem; /* Tamaño de texto cómodo para lectura */
    line-height: 1.4; 
    }
.main-menu h1 {
    font-size: 3rem;
    }
.aperitivos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0rem 50px;
}
.aperitivos-grid article:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
}
#aperitivos h1{
    font-size: 3rem;
    margin-bottom: 30px;
}
.right-column .gallery-container img {
    width: 70%;
    height: auto;
}
.content-container {
    padding: 0 2rem;
    font-family: var(--fontFamily2);
}
.weather-info ul li{
    font-size: 1.3rem;
}
.current-weather h2, .weather-forecast h2{
    font-size: 2rem;
}
.weather-forecast ul li{
    font-size: 1.3rem;

}
.weather, .weather-forecast {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contact-section {
      max-width: 700px; /* Más grande en pantallas grandes */
      padding: 30px;
      font-size: 1rem;
    }
.contact-section h2 {
      font-size: 2.5rem; /* Título más grande */
    }
.contact-section p{
    font-size: 1.2rem;
    }
input,
textarea {
      font-size: 1.1rem; /* Inputs más grandes */
      padding: 12px;
    }
button {
      font-size: 1.1rem;
      padding: 12px;
    }
label{
    font-size: 1.3rem;
    color: var(--textColor);
    }
    /* Estilo para pantallas grandes */
.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cubre el contenedor */
    filter: brightness(60%); /* Oscurece la imagen para mejorar la legibilidad */
}
.hero-text {
    position: absolute;
    bottom: 50%; /* Texto más alto en pantallas grandes */
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 5px rgba(53, 46, 46, 0.8); /* Sombra para el texto */
    text-align: center;
    font-size: 2.4rem;
}
/* Botón Mejorado */
.learn-more-button {
    padding: 1rem 1.8rem;
    font-size: 0.9rem;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}
}