
/* Responsive ajustes */
@media (min-width: 768px) {
    ul.menuLinks  {
        display: flex; /* Muestra el menú en línea para pantallas más grandes */
        flex-direction: row;
        position: static; /* Restaura el flujo normal del diseño */
        box-shadow: none;
        padding: 0;
    }

    #myButton {
        display: none; /* Oculta el botón hamburguesa en pantallas grandes */
    }
    main {
        padding: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .event-weather-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 50px;
        margin-top: 40px;
    }
        

}