
@media (min-width: 768px) {
    
    .header-content h1 {
        font-size: 2em;
    }
    
    main {
        display: flex;
        gap: 20px;
    }
    
    .course-work, .lima {
        flex: 1;
    }
    
    .certificates {
        width: 100%;
    }
    nav ul li {
        margin-right: 40px; /* Más espacio entre los elementos del menú */
    }

    #nav-menu li a:hover {
        background-color: #544eac;
        color: #f4f4f4;
        border-radius: 5px;
        }
    
    #nav-menu li a {
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
            padding: 10px;
            display: block;
            transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
        }

}
